.block_div {
    margin-top: 25%;
}

.movie {
    width: 25%;
    text-align: center;
    vertical-align: middle;
    margin-right: 5%;
    margin-top: 30px;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 10px;
    border: 1px solid;
    box-shadow: 10px 5px 5px rgb(90, 90, 90);
    border-radius: 5px;
    padding: 0px;
    display: inline-block;
    overflow: hidden;
    transition: 1s;
    cursor: pointer;
}

@media screen and (max-width: 376px) and (min-width: 0px) {
    .movie {
        width: 100%;
        margin-left: 35%;
    }
}

@media screen and (max-width: 426px) and (min-width: 377px) {
    .movie {
        width: 300px;
        margin-left: 37%;
    }
}

@media screen and (max-width: 768px) and (min-width: 427px) {
    .mask {
        margin-bottom: 100px;
        right: 85px;
    }

    .input.text {
        width: 580px;
        padding-left: 20px;
    }

    .search_form {
        padding-top: 200px;
    }

    .wrapper {
        text-align: center;
        width: 50px;
    }

    .movie {
        width: 55%;
    }
}

.movie:hover {
    transition: 1s;
    transform: translate(-1%, -1%);
}

.thumbnail {
    // margin-right: 1rem;
    padding: 1rem;

    img {
        display: inline-block;
        width: 200px;
        height: 150%;
        object-fit: cover;
    }
}

.contents {
    padding: 2rem;

    h2 {
        margin: 0;
        // padding-top: 2px;

        a {
            color: black;
        }
    }

    p {
        margin: 0;
        line-height: 1.5;
        margin-top: 0.5rem;
        white-space: normal;
    }
}