th{
    display: inline;
}
.as{
    display: inline;
    /* margin-left: 50px; */
}
.sd{display: inline;
margin-left: 50px;}
.df{display: inline;
margin-left: 50px;}
.fg{display: inline;
    margin-left: 50px;}