.listp {
  margin-left: 20px;
  font-weight: 800;
  width: 250px;
  font-size: 35px;
}
.G_logoutBtn {
  position: absolute;
  cursor: pointer;
  right: 10px;
  height: 24px;
  border: none;
  background: transparent;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  text-align: center;
  text-decoration: underline;
}
.G_logoutBtn:hover {
  scale: 0.95;
  transition: 0.3s;
}
.G_logoutBtn {
  transition: 0.3s;
}
#G_Btn {
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  font-family: "BMJUA";
  cursor: pointer;
  font-style: normal;
  background: #f1c204;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#G_Btn:hover {
  scale: 0.95;
  transition: 0.3s;
}
#G_Btn {
  transition: 0.3s;
}

#G_Btnstore {
  width: 150px;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  font-family: "BMJUA";
  cursor: pointer;
  font-style: normal;
  background: #f1c204;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#G_Btnstore:hover {
  scale: 0.95;
  transition: 0.3s;
}
#G_Btnstore {
  transition: 0.3s;
}
.none_G {
  margin-top: 20%;
  font-size: 68px;
  font-family: "DO Hyeon";
  text-align: left;
  margin-left: 8%;
}
