.menu_content1 {
  position: absolute;
  top: 5px;

  left: 30px;
  font-family: "BMJUA";
  font-size: 20px;
  /* text-decoration: underline; */
}
.menu_content2 {
  position: absolute;
  top: 35px;
  left: 30px;
  font-family: "BMJUA";
  font-size: 20px;
}

.menudelete {
  position: absolute;
  width: 50px;
  font-family: "BMJUA";
  height: 25px;
  cursor: pointer;
  background: #f1c204;
  border-radius: 10px;
  top: 25px;

  border: none;
  right: 5px;
}
.menu_img1 {
  margin-top: 10px;
  float: left;
  margin-left: 10px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: solid;
}
.menuall {
  position: relative;
  width: 90%;
  background-color: beige;
  height: 100px;
  margin-left: 5%;
  border-radius: 10px;
  margin-top: 10px;
  border: solid;
  border-color: gray;
}
